.extension-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    height: 400px;
  }
  
  .extension-body h2{
    margin-top: 10px;
    font-weight: 500;
    opacity:0.8;
  }

  .extension-body .further-options{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    margin-top: 20px;
  }

  .extension-body .further-options a{
    text-decoration: none;
    color: black;
    padding: 5px 10px; 
    border: 2px solid black;
    border-radius: 30px;
    font-weight: 500;
  }

  .extension-body .further-options a:hover{
    background-color: black;
    color: white;
  }


  /*HOME*/

  .folder-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #f5f5f5 #8ff0f7 ;
  }

  .folder-box{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 20px;
  }

  .folder-box h1{
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
    opacity: 0.3;
    margin-top: 5px;
    transition: ease-in-out 0.4s;
  }

  .folder-box:hover h1{
    opacity: 1;
    transition: ease-in-out 0.4s;
  }

  a{
    text-decoration: none;
    color: black;
  }

  /*SETTINGS*/

  .setting-box{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0px 10px;
    height: 50px;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 20px;
  }
  
  .setting-box:hover{
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .setting-text2{
    margin-left: 65px;
    opacity: 0.8;
    font-size: 18px;
    margin-top: 5px;
  }

  .setting-text1{
    margin-left: 45px;
    opacity: 0.8;
    font-size: 18px;
    margin-top: 5px;
  }

  /*INSIDE FOLDER*/
  
  .urlInputContainer{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
    width: 100%;
    height: 150px;
    justify-content: space-between;
  }

  .urlInputContainer h3{
    font-weight: 500;
    font-size: 18px;
    opacity: 0.8;
  }

  .urlInputContainer input{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #8ff0f7;
  }

  .urlInputContainer button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #8ff0f7;
    background-color: #8ff0f7;
    color: white;
    font-weight: 500;
  }

  .urlInputContainer button:hover{
    background-color: white;
    color: #8ff0f7;
    cursor: pointer;
  }

  .video-preview{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
    width: 100%;

    justify-content: space-between;
  }

  .video-preview h3{
    opacity: 0.5;
    cursor: text;
  }

  .video-preview h6{
    opacity: 0.3;
    cursor: pointer;
    margin-top: -10px;
  }

  .video-preview h6:hover{
    opacity: 0.8;
  }

  .btn-create-file{
    padding: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #8ff0f7;
    background-color: #8ff0f7;
    color: white;
    font-weight: 500;
    margin-top: 30px;
  }

  .btn-dwnload-file{
    padding: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid rgb(151, 252, 181);
    background-color: rgb(40, 243, 101);
    color: white;
    font-weight: 500;
    margin-top: 30px;
  }

  .btn-dwnload-file:hover{
    background-color: white;
    color: rgb(40, 243, 101);
    cursor: pointer;
  }

  .btn-dwnload-file h5{
    margin-top: 5px;
  }

  
  .btn-create-file h5{
    margin-top: 5px;
  }

  .btn-create-file:hover{
    background-color: white;
    color: #8ff0f7;
    cursor: pointer;
  }

  .video-preview video{
    width: 100%;
    border-radius: 10px;
  }

  /*ADD HANDLE CUSTOMISATION*/