.extension-body{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

*{
  font-family: 'Roboto', sans-serif;
}


.extension-body h1{
  font-weight: 500;
  opacity:0.8;
}

.clip-btn{
  padding: 1px 10px;
  border: 2px solid black;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
  margin-top: 10px;
}

.clip-btn:hover{
  padding: 1px 10px;
  border: 1px solid black;
  border-radius: 10px;
  transform: scale(0.95);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}


.clip-btn h3{
  font-size: 15px;
  font-weight: 700;

}

.clip-btn:hover h3{
  font-size: 15px;
  font-weight: 500;

}